#!/bin/bash
set -xeuo pipefail

LOG=/var/log/s3-backup.log
LOCK=/tmp/s3-backup
export PATH=/usr/local/bin:/usr/bin:/bin

function err_handler() {
	echo "Error! Something has gone wrong"
}

exec 1>>$LOG 2>&1

echo "Current PID: $$"
exec 200>$LOCK
flock -n 200 || exit 1

trap err_handler ERR

folders=(
{% for folder in s3_backup_folders %}
"{{folder}}"
{% endfor %}
)

echo "Starting pre-backup scripts..."
{{ s3_backup_pre }}

echo "Starting backup..."
for folder in "${folders[@]}"; do
	aws --profile {{s3_backup_profile}} s3 sync "{{s3_backup_folder_root}}$folder" "s3://{{s3_backup_bucket}}$folder" --delete --storage-class {{s3_backup_storage_class}} {% for exclusion in s3_backup_exclusions%}--exclude "{{exclusion}}" {% endfor %} --no-follow-symlinks --no-progress {{s3_backup_extra_arguments}}
done

echo "Starting post-backup scripts..."
{{ s3_backup_post }}

echo "Completed backup at $(date)"